<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spl.custom_widget_learn">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".animation.MessageBubbleActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.FlowerActivity">
        </activity>
        <activity android:name=".animation.ListDataScreenActivity"></activity>
        <activity android:name=".animation.AutoShape58Activity" />
        <activity
            android:name=".md_activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.Custom_Widget_Learn.NoActionBar" />
        <activity android:name=".md_activity.MyBehaviorActivity" />
        <activity android:name=".md_activity.CoordinateLayoutActivity" />
        <activity android:name=".activities.BehaviorActivity" />
        <activity android:name=".activities.ImmersiveStatusBarActivity" />
        <activity android:name=".activities.LockPatternActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".activities.VerticalDragActivity" />
        <activity android:name=".activities.SlideMenu2Activity" />
        <activity android:name=".activities.SlideMenu1Activity" />
        <activity android:name=".activities.TagLayoutActivity" />
        <activity android:name=".activities.VerticalOffsetLayoutActivity" />
        <activity android:name=".activities.TestActivity" />
        <activity android:name=".activities.LetterSideBarActivity" />
        <activity android:name=".activities.RatingBarActivity" />
        <activity android:name=".activities.ShapeAutoChangeActivity" />
        <activity android:name=".activities.RoundBarActivity" />
        <activity android:name=".activities.ViewPagerActivity" />
        <activity android:name=".activities.ColorTrackTextActivity" />
        <activity android:name=".activities.QQStepActivity" />
        <activity android:name=".activities.MyTextViewActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>